<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_github", "footer", "telegram")' href="#" target='_blank'>
                    <i class="fab fa-telegram"></i>
                </a>
            </li>
            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_twitter", "footer", "twitter")' href="#" target='_blank'>
                    <i class="fab fa-twitter"></i>
                </a>
            </li>

          <li>
            <a (click)='analyticsService.sendAnalyticEvent("click_linkedin", "footer", "instagram")' href="#" target='_blank'>
              <i class="fab fa-instagram"></i>
            </a>
          </li>

        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "footer", "email")' href="mailto:support@diciecoin.pro" target='_blank'>marketing@dixiecoin.live</a>
        </div>
    </div>

    <div class="footer-credits text-center" >

      <section [innerHTML]='"Contact.AllRightsReserved" | translate' class=" text-sm bg-bg2 text-center p-1 text-white">
      </section>
    </div>

</footer>
