<section class="section airdrop" [@archiveAnimation] *ngIf='state'>
  <div class="container">
    <div class="d-flex flex-column airdrop-title text-center w-100">
      <div class="d-flex airdrop-pre-sale-header-container flex-row w-100 align-content-center">
        <img
          class="pt-3"
          src="../../../assets/images/balloon-blue/10252809.png"/>

        <h1 class="pt-5 ml-2">{{"Airdrop.PreLaunchText" | translate}}</h1>

        <img
          src="../../../assets/images/balloons-yellow/10252819.png"/>
      </div>

      <p class="airdrop-subtitle big-subtitle">{{"Airdrop.ApplyTo" | translate}}</p>
      <br/>
      <div class="div-btn-banner mt-2 mt-lg-2 mb-4 mb-lg-2 mb-sm-2 ">
        <a href="https://extendedforms.io/form/9c78f52b-a4ac-49f9-bf47-c1ef1c818250/login" target="_black" class="main-btn">
          {{"Airdrop.ApplyBtn" | translate}}
        </a>
      </div>
      <br/>
      <div class="d-flex airdrop-img-container flex-row text-center pl-3">
        <img src="../../../assets/images/dixiecoin-airdrop-new.png" alt="dixiecoin airdrop"/>
      </div>


    </div>


    <div class="airdrop-table-container">

    </div>
  </div>
</section>
