<section class="section about" id='about'>
    <div class="container">
        <div class="section-box">
            <div class="about-title" data-aos="fade-up">
                <h3 class="section-title">
                    <span class='n-section-title'>01.</span> {{"AboutMe.Title" | translate}}
                </h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                    <div class="about-description text-white">
                        <p *ngFor='let text of "AboutMe.Paragraphs" | translate' [innerHTML]="text" data-aos="fade-up" data-aos-duration="1000">
                        </p>

                    </div>
                </div>
                <div class="col-12 col-md-6 mt-4 mt-md-0 text-center" data-aos="fade-up" data-aos-duration="1000">
                    <div class="about-img-container">
                        <img (click)='analyticsService.sendAnalyticEvent("click_image", "about", "image")'
                             class="rounded" width="380" height="500" src="assets/images/dixie_photo_transparent.png" alt="Dixie">
                    </div>
                </div>

              <div class="c-tools-layout d-flex flex-row flex-fill">

                <ul class="skills-list" data-aos="fade-up">
                  <li class="skill-element" data-aos="fade-up" data-aos-duration="1000">
                    <a href="#">
                      <img src="assets/images/dextools-seeklogo.svg" alt="Dextools" width="50px">
                      <span class="underline-white"> DEXTools </span>
                    </a>

                  </li>
                  <li class="skill-element" data-aos="fade-up" data-aos-duration="1000">
                    <a href="#">
                      <img src="assets/images/dex-screener-seeklogo.svg" alt="DexScreener" width="50px">
                      <span class="underline-white"> DEX Screener </span>
                    </a>
                  </li>
                  <li class="skill-element" data-aos="fade-up" data-aos-duration="1000">
                    <a href="#">
                      <img [style]="'margin-bottom: 10px'" src="assets/images/uniswap-seeklogo.svg" alt="Uniswap" width="50px">
                      <span class="underline-white"> Uniswap </span>
                    </a>
                  </li>
                </ul>
              </div>

            </div>
        </div>
    </div>
</section>
