<section class="section more-proyects">
    <div class="container">
        <div class="section-box">
            <div class="">
                <h3 class="section-title">
                    <span class='n-section-title'>04.</span> {{"OtherProjects.Title" | translate}}
                </h3>
            </div>
            <div class="mt-5">
                <div class="row dcenter justify-content-center align-content-center p-0">

                    <div class="dixie-base-preview mt-4" data-aos="fade-up" data-aos-duration="1000">

                      <div class="dixie-base-preview-logo text-center">
                        <img src="assets/images/dc_dixie_base_promo.png">
                      </div>

                      <div class="dixie-base-preview-description w-100 justify-content-center text-center row p-4 pl-3 p-md-2 mt-4">
                        <h2 [innerHTML]='"OtherProjects.DixieBase.Title" | translate' class="text-white text-capitalize"></h2>
                        <br/>
                        <h5 [innerHTML]='"OtherProjects.DixieBase.Description" | translate' class="text-justify text-white"></h5>
                      </div>

                    </div>
                </div>

            </div>
            <!-- <div class="w-100 text-center mt-5 pt-5">
                <a [routerLink]="'/proyectos'" class='main-btn'>Ver todo</a>
            </div> -->
        </div>
    </div>
</section>
